node_modules
.idea
logs/
*.log
pid
pids
*.pid
*.seed
.tmp
temp
.temp
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.irp
*.iws
.directory
.Trash-*
~*
*.lock
!yarn.lock
npm-debug.log*
out
/dist
/es
/lib
assets/build
/config.js
.vscode
